@define-color rosewater #f5e0dc;
@define-color flamingo #f2cdcd;
@define-color pink #f5c2e7;
@define-color mauve #cba6f7;
@define-color red #f38ba8;
@define-color maroon #eba0ac;
@define-color peach #fab387;
@define-color yellow #f9e2af;
@define-color green #a6e3a1;
@define-color teal #94e2d5;
@define-color sky #89dceb;
@define-color sapphire #74c7ec;
@define-color blue #89b4fa;
@define-color lavender #b4befe;
@define-color text #cdd6f4;
@define-color subtext1 #bac2de;
@define-color subtext0 #a6adc8;
@define-color overlay2 #9399b2;
@define-color overlay1 #7f849c;
@define-color overlay0 #6c7086;
@define-color surface2 #585b70;
@define-color surface1 #45475a;
@define-color surface0 #313244;
@define-color base #000000;
@define-color mantle #000000;
@define-color crust #000000;

* {
  font-family: "UbuntuMono Nerd Font";
  font-size: 14px;
}

window {
  margin: 0px;
  padding: 10px;
  border: 2px solid @lavender;
  border-radius: 10px;
  background-color: @base;
}

#inner-box {
  margin: 5px;
  padding: 10px;
  border: none;
  background-color: @base;
}

#outer-box {
  margin: 5px;
  padding: 10px;
  border: none;
  background-color: @base;
}

#scroll {
  margin: 0px;
  padding: 10px;
  border: none;
  background-color: @base;
}

#input {
  margin: 5px 20px;
  padding: 10px;
  border: none;
  border-radius: 8px;
  color: @text;
  background-color: @surface0;
}

#text {
  margin: 5px;
  border: none;
  color: @text;
}

#entry {
  background-color: @base;
}

#entry:selected {
  border-radius: 8px;
  background-color: @surface1;
}

#entry:selected #text {
  color: @mauve;
}
